.vscode/

# Haskell
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
.bin/
**/src/Main


# C++

AppendixB_FightClub_CPP_value_program
AppendixB_FightClub_CPP_OOP_program

# OCaml

**/rosetta-stone/ocaml/**/_build

# Rust

**/rust*/target/
**/rosetta-stone/rust/**/target/

# Ignoring files related to editor configurations and temporary files
**/*.rs.bk
**/*.swp
**/*.swo
*.bak
*.tmp
*.swp
*.swo
*.bak
*.tmp

*.dSYM/
*.profdata
*.gcda
*.gcno

*.log
*.out

# Scala

# sbt-specific files
**/scala*/target/
**/scala*/project/target/
**/scala*/project/project/

# Scala specific files
**/scala*/*.class
**/scala*/*.log
**/scala*/*.lock

# sbt specific files
**/scala*/lib_managed/
**/scala*/src_managed/
**/scala*/.stsworkspace
**/scala*/.ensime
**/scala*/.ensime_cache
**/scala*/.idea_modules/
**/scala*/.history
**/scala*/.cache/
**/scala*/lib_managed/
**/scala*/src_managed/
**/scala*/dist/
**/scala*/tmp/

# Logs
**/scala*/logs/
**/scala*/*.log

# Temporary files
**/scala*/tmp/
